<?xml version="1.0" encoding="UTF-8"?>
<!--Annotation Запрос на выполнение действий. Можно
сделать одно из 3-х: направить заявление, отменить заявление, запросить справочник-->
<!--complex
content-->
<soc:AppDataRequest xmlns:xml="http://www.w3.org/XML/1998/namespace"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soc="http://socit.ru/kalin/orders/2.0.0"
    xmlns:soc1="http://socit.ru/kalin/orders/2.0.0/attachments">
  <soc:SetRequest>
    <soc:orderId>$orderId</soc:orderId>
    <soc:ServiceCode>3900000000173812673</soc:ServiceCode>
    <soc:ServiceName>Выплата молодой семье при рождении третьего или последующего ребёнка</soc:ServiceName>
    <soc:SpravID>1</soc:SpravID>
     <soc:DelegateInfo>2</soc:DelegateInfo> 

    <!-- Пользовательские данные -->
                
    <soc:userData>
      <soc:lastName>$userLastName</soc:lastName>
      <soc:firstName>$userFirstName</soc:firstName>
      
      <soc:birthDate>$userBirthDate</soc:birthDate>
      <soc:Sex>$userGender</soc:Sex>
      <soc:Snils>$userSnils</soc:Snils>
      
      
      <soc:citizenship>$userCitizenshiip</soc:citizenship>
      <soc:mrog>$userBirthPlace</soc:mrog>
    </soc:userData>

                
    <!-- Паспортные данные пользователя -->
    <soc:userDocument>
      <soc:type>$userDoctype</soc:type>
      <soc:series>$userPSeries</soc:series>
      <soc:number>$userPNumber</soc:number>
      <soc:issuedBy>$userPIssuedBy</soc:issuedBy>
      <soc:issueDate>$userPIssueDate</soc:issueDate>
      <soc:departmentCode>$userdepartmentCode</soc:departmentCode>
    </soc:userDocument>

    

    <!-- Представитель заявителя (при наличии) -->
    

    <!-- Список детей -->

          <soc:childData>
            <soc:lastName>$chi.c6</soc:lastName>
            <soc:firstName>$chi.c7</soc:firstName>
            #if ( $chi.c12 && $chi.c12 != "" )
              <soc:middleName>$chi.c12</soc:middleName>
            #end
            <soc:birthDate>$dateTool.format('yyyy-MM-dd', $dateTool.toDate("yyyy-MM-dd",$chi.c13))</soc:birthDate>
            #if ($chi.c15 == 'M') #set( $chi.childGender = "М" ) #else #set( $chi.childGender = "Ж" ) #end
            <soc:Sex>$chi.childGender</soc:Sex>
            
            #if ( $chi.c24=="RF_BRTH_CERT" || $chi.sc17_2800=="1" )
              <soc:citizenship>РОССИЯ</soc:citizenship>
            #else
              <soc:citizenship>ИНОСТРАННОЕ ГОСУДАРСТВО</soc:citizenship>
            #end
          </soc:childData>
                    <soc:childDocument>
                    #if ($chi.sc25_2800 && !$chi.sc25_2800.isEmpty())
                    #set( $chiDoctype = "106" )
                    #set( $chiSeries = "" )
                    #set( $chiNumber = $chi.sc25_2800 )
                    #set( $chiIssuedBy = $chi.sc26_2800.text )
                    #set( $chiIssueDate = $dateTool.format('yyyy-MM-dd', $dateTool.toDate("yyyy-MM-dd",$chi.sc24_2800)) )
                    #end
                                        <soc:childDocument>
    <!-- Супруг получателя услуги -->
    

    <!-- Адрес регистрации -->
    <soc:regAddress>
      
    </soc:regAddress>

    <!-- Временный адрес -->
    

    <!-- Фактический адрес -->
    

    <!-- Способ получения выплаты -->
    <soc:payment>
      
    </soc:payment>

    

<soc:addInfos>
    <!-- Реквизиты записей актов гражданского состояния -->
<soc:addInfo>
    












                
</soc:addInfo>
</soc:addInfos>    
  </soc:SetRequest>
</soc:AppDataRequest>